.category{
    text-align: center;
    background-color: rgb(218, 224, 255);
    margin: 4px 5px;
    padding: 12px 20px;
    border-radius: 10px;
    h3{
        padding-top: 10px;
        font-size: 15px;
    }
}

@media (max-width: 1400px) {
    .category{
        background-color:transparent;
    }
}