@import '../../globals.scss';

.single-product{
    padding-top: 150px;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
    background-color: white;
    align-items: center;
    .sp-left{
        width: 400px;
    }
    .sp-right{
        width: 500px;
        h1{
            margin: 10px 0px;
            color: purple;
        }
        h3{
            margin: 10px 0px;
            color: blue;
        }
        h4{
            color: deeppink;
            margin: 10px 0px;
        }
        button{
            background-color: orange;
            color: black;
            padding: 10px;
            margin-right: 6px;
            border: none;
            outline: none;
            border-radius: 10px;
        }
    }
}

@media (max-width:$breakpoint-tablet) {
    .single-product{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .sp-left{
            width: 300px;
        }
        .sp-right{
            width: 300px;
        }
    }
}