.post{
    width: 300px;
    background-color: white;
    border-radius: 10px;
    margin: 15px 0px;
    img{
        border-radius: 10px 10px 0px 0px;
        width: 300px;
    }
    h3{
        opacity: 0.8;
        padding-bottom: 20px;
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 18px;
    }
    h4{
        opacity: 0.9;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
    }
}